.profile__avatar-edit {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: default;
  z-index: 1;

  visibility: hidden;
  opacity: 0;
  /*pointer-events: none;*/
  user-select: none;
  transition: visibility 0s linear 400ms, opacity linear .4s;
}



@media screen and (min-width: 1024px) {
  .profile__avatar-edit {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

.profile__avatar-edit:hover {
  visibility: visible;
  opacity: 1;
  user-select: auto;
  transition: visibility 0s linear 0s, opacity linear .4s;
}

