.page__content {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 624px) {
  .page__content {
    width: 584px;
  }
}

@media screen and (min-width: 1024px) {
  .page__content {
    width: 880px;
  }
}
