.profile__add-button-wrapper {
  display: flex;
  width: calc(100% - 19px * 2);
  max-width: 282px;
  height: 50px;
  background-color: transparent;
}

@media screen and (min-width: 624px) {
  .profile__add-button-wrapper {
    grid-area: add-button;
    width: 150px;
    justify-self: right;
    align-self: center;
  }
}

@media screen and (max-width: 319px) {
  .profile__add-button-wrapper {
    width: 100%;
  }
}


