.profile__title {
  max-width: calc(100% - 34px);
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.25;
  text-align: center;
  align-self: flex-end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

@media screen and (min-width: 1024px) {
  .profile__title {
    font-size: 42px;
    margin: 0;
    text-align: left;
  }
}
