.profile__image {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b6/Queen_Elizabeth_II_in_March_2015.jpg);*/
  background-repeat: no-repeat;
  border-radius: 60px;
  margin-bottom: 26.25px;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .profile__image {
    margin: 0;
  }
}

.profile__image:hover + .profile__avatar-edit {
  visibility: visible;
  opacity: 1;
  user-select: auto;
  transition: visibility 0s linear 0s, opacity linear 0.4s;
}
