.popup-box__container {
  width: 282px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  z-index: 2;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .popup-box__container {
    width: 430px;
  }
}

@media screen and (max-width: 320px) {
  .popup-box__container {
   max-width: 95%;
  }
}
