.header {
  width: 100%;
  margin: 28px auto 42px auto;
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 624px) {
  .header {
    max-width: 584px;
    margin-top: 45px;
  }
}


@media screen and (min-width: 1024px) {
  .header {
    max-width: 880px;
  }
}
